# OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# Environment variables
.env
.env.*
!.env.example

# Python / Backend
**/__pycache__/
**/*.py[cod]
**/*$py.class
backend/.venv/
backend/db.sqlite3
backend/*.sqlite3-journal

# Node.js / Frontend (Gonza)
**/node_modules/
gonza/dist/
gonza/dist-ssr/
gonza/build/

# Yarn Berry (Non-Zero Installs)
gonza/.pnp.*
gonza/.yarn/*
!gonza/.yarn/patches
!gonza/.yarn/plugins
!gonza/.yarn/releases
!gonza/.yarn/sdks
!gonza/.yarn/versions

# Editor files
.vscode/
.idea/

# Logs
*.log
logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
